@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.code_preview {
    padding-left: 20px;
    padding-top: 42px;
    background-color: #000;
    color: #fff;

    &, & * {
        box-sizing: border-box;
    }

    h2 {
        margin: 0 0 23px;
        font-family: "Source Sans 3", sans-serif;
        font-size: 20px;
        line-height: 1em;
        font-weight: 600;
    }

    code {
        display: inline-block;
        width: 100%;
        min-height: 100vh;
        padding: 10px;
        overflow: scroll;
        position: relative;

        pre {
            width: 100%;
        }
    }
}

#controls {
    .tree {
        height: calc(100vh - 350px);
        overflow-y: scroll;
        scrollbar-width: none;
        margin-top: 8px;

        ul {
            margin: 0;
            padding: 0;
            padding-left: 12px;
            list-style-type: none;
            text-indent: 0;

            > li:first-child {
                margin-top: 0;
            }

            li {
                margin-top: 8px;
                padding: 0;
                overflow: hidden;
                white-space: nowrap;
                
                button {
                    text-overflow: ellipsis;
                    padding: 4px;
                }
            }

            ul {
                margin-left: 6px;
                margin-top: 8px;
                padding-left: 18px;
                border-left: 2px solid #414141;
            }
        }
    }
}